/************** Font Styles *******************/
@font-face {
    font-family: "OpenSans_Condensed-Regular";
    src: url("../assets/fonts/OpenSans_Condensed-Regular.ttf") format("truetype");
}

$font__regular:"OpenSans_Condensed-Regular",sans-serif;


@font-face {
    font-family: "OpenSans_Condensed-SemiBold";
    src: url("../assets/fonts/OpenSans_Condensed-SemiBold.ttf") format("truetype");
}

$font__bold:"OpenSans_Condensed-SemiBold",sans-serif;


@font-face {
    font-family: "OpenSans_Condensed-ExtraBold";
    src: url("../assets/fonts/OpenSans_Condensed-ExtraBold.ttf") format("truetype");
}

$font__extrabold:"OpenSans_Condensed-ExtraBold",sans-serif;


body{
    max-width: 1920px;
    background: rgb(2, 10, 24);
    header{
        padding: 21px 387px 22px 387px;
        nav{
            width: 1140px;
           display: flex;
           align-items: center;

           .navbar__brand{
            display: flex;
            align-items: center;
            gap: 15px;
            color: rgb(58, 104, 184);
            font-size: 22.55px;
            font-weight: 600;
            line-height: 31px;
            letter-spacing: 0%;
            text-align: left;
            text-decoration: none;
            margin-right: 83.91px;
           }

           .navbar__content{
            display: flex;
            gap: 40px;
            li{
               display: inline-block;
               
               a{
                font-family: $font__bold;
                color: rgb(255, 255, 255);
                font-family: Open Sans;
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 0%;
                text-align: left; 
                text-decoration: none;
               }
            }
           }

           .navbar__btn{
            display: block;
            margin-left: auto;
            border-radius: 5px;
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 600;
            line-height: 21.79px;
            background: rgb(58, 104, 184);
            width: Hug (112px)px;
            border: none;
            top: 24px;
            padding: 15px 30px 15px 30px;
            gap: 10px;
            border-radius: 5px;
            opacity: 0px;
            

           }
        }

        .hero__content{
            display: flex;
            margin: auto;
            
            .hero__left{
                margin-right: 115px;
                margin-top: 160px;
            }

            .hero__left a{
                text-decoration: none;
                font-family: Open Sans;
                font-size: 18px;
                font-weight: 600;
                line-height: 28.8px;
                text-align: left;
                color: #3A68B8;


            }

            .hero__left h1{
                font-family: Open Sans;
                font-size: 55px;
                font-weight: 800;
                line-height: 71.5px;
                text-align: left;
                color: #FFFFFF;
                width: 550px;
                margin-top: 10px;
                margin-bottom: 40px;
            }

            .hero__left p{
                font-family: Open Sans;
                font-size: 18px;
                font-weight: 600;
                line-height: 28.8px;
                text-align: left;
                color: #FFFFFF;
                width: 550px;
                margin-bottom: 50px;
            }

            .hero_left_info{
                display: flex;
                gap: 20px;
            }

            .hero_left_info button{
                font-family: Open Sans;
                font-size: 20px;
                font-weight: 600;
                line-height: 27.24px;
                text-align: center;
                color: #FFFFFF;
                background: #3A68B8;
                border: none;
                top: 618px;
                left: 387px;
                padding: 15px 30px 15px 30px;
                border-radius: 5px;
                opacity: 0px;
                display: flex;
                }

                .hero_left_info span img{
                    margin-right: 10px;
                    text-align: center;
                    width: 27px;
                    height: 26px;
                }

                .hero__right{
                    width: 632px;
                    height: 634px;
                    top: 149px;
                    left: 1105px;
                    gap: 0px;
                    opacity: 0px;
                    margin-top: 50px;
                    
                }

                
            }

            .hero_content_logo{
                width: 1186px;
                margin-top: 90px;
                margin-bottom: 100px;
            }
            
            .hero_content_logo img{
                width: 217.64px;
                height: 58.9px;
                top: 872px;
                left: 387px;
                opacity: 0px;
                margin-right: 75px;
            }
    }

    main{

        .main__content{
            width: 1270px;
            display: flex;
            margin: auto;
            margin-top: 130px;
            }

        .main_content_left{
            margin-right: 70px;
        }

        .main_content_right{
            margin-top: 200px;
            width: 480px;
        }
        .main_content_right h2{
            font-family: Open Sans;
            font-size: 40px;
            font-weight: 700;
            line-height: 52px;
            text-align: left;
            color: #FFFFFF;

            }
        .main_content_right p{
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 600;
            line-height: 25.6px;
            text-align: left;
            color: #FFFFFF;
            margin-top: 30px;
            margin-bottom: 50px;
            }

        .main_content_right button{
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 600;
            line-height: 21.79px;
            text-align: left;
            color: #ffffff;
            background: #3A68B8;
            width: 150px;
            height: 52px;
            padding: 15px 30px 15px 30px;
            gap: 10px;
            border-radius: 5px;
            border: none;
            }

           
            .sec__one{
                display: flex;
                margin: auto;
                gap: 30px;
                margin-top: 170px;
                margin-bottom: 50px;
            }

            .sec_one_content{
                width: 362px;
                height: 389px;
                top: 1999px;
                left: -5px;
                gap: 0px;
                opacity: 0px;
                background: #282d36;
                width: 100%;
                width: 362px;
                height: 389px;
                top: 1999px;
                left: 1171px;
                gap: 0px;
                border-radius: 10px;
                opacity: 0.1px;
                }

                .sec_one_content img{
                    display: flex;
                    margin: auto;
                    margin-top: 30px;
                }

                .sec_one_content span img{
                    margin-top: 60px;
                }

            .sec_one_content h3{
                font-family: Open Sans;
                font-size: 25px;
                font-weight: 700;
                line-height: 31.25px;
                text-align: center;
                color: #FFFFFF;
                width: 300px;
                margin: auto;
                margin-top: 30px;
                margin-bottom: 30px;

                }

            .sec_one_content p{
                font-family: Open Sans;
                font-size: 16px;
                font-weight: 600;
                line-height: 25.6px;
                text-align: center;
                color: #FFFFFF;
                width: 300px;
                margin: auto;
            }

            .sec__two{
                display: flex;
                margin: auto;
                width: 1140px;
                margin-top: 170px;
                margin-bottom: 170px;
            }

            .sec_content_right{
                margin: auto;
            }

            .sec_content_right h2{
                font-family: Open Sans;
                font-size: 40px;
                font-weight: 700;
                line-height: 52px;
                text-align: left;
                color: #FFFFFF;
                width: 500px;
            }

            .sec_content_right p{
                font-family: Open Sans;
                font-size: 16px;
                font-weight: 600;
                line-height: 25.6px;
                text-align: left;
                color: #FFFFFF;
                width: 460px;
            }


    
         
        }

        

}

